<article class="card-container">
  <todo-header *ngFor="let item of listContents; index as index"
               [id]="index"></todo-header>
  <todo-body *ngFor="let item of listContents;"
                [content]="item"></todo-body>
  <todo-footer *ngFor="let item2 of listDates;"
               [date]="item2"></todo-footer>
</article>
