.card-container {
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px 0;
  width: 400px;
  height: auto;
  border: 1px solid blue;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
