.body-container {
  display: flex;
  justify-content: center;
  padding: 10px 25px;
  flex-direction: column;
}
.img-card{
  display: flex;
  width: 100%;
  height: 150px;
}
.p-card {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: justify;
}
