/* You can add global styles to this file, and also import other style files */
html{
  display: flex;/* */
  height: 100%;
  border: 1px solid blue;

  font-family: Verdana, sans-serif;
}

body{
  width: 100%;

}
